@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("/style/home.css");
@import url("/style/skills.css");
@import url("/style/projetos.css");
@import url("/style/certificados.css");
@import url("/style/contatos.css");
@import url("/style/nav.css");

:root {
    --cor-principal: #00B1FC;
    --sombra-principal: #00648f;
    --cor-principal-escura: #003146;
    --cor-fundo: #0F0F0F;
    --cor-fundo-claro: #191919;
    --cor-fundo-escuro: #000000;
    --branco: white;
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    background: var(--cor-fundo);
    font-family: var(--fonte-principal);
}