.certificados {
    background: linear-gradient(var(--cor-fundo-escuro), var(--cor-fundo));
}

.certificados__campo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.certificados__campo-card {
    align-items: center;
    background: var(--cor-fundo-escuro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 1em 0 2em 0;
    padding-bottom: 1em;
    transition: 0.2s;
}

.certificados__campo-card img {
    border-radius: 1em;
    height: 270px;
    width: 400px;
}

.certificados__titulo {
    animation: surgir 2s normal;
    border-bottom: 2px solid var(--cor-principal);
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0.5em 1em 0.5em;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.certificados__subtitulo {
    color: var(--branco);
    font-size: 1.5em;
    margin: 1em 0 0 0;
    max-width: 200px;
    text-align: center;
}

.certificados__botao {
    background: transparent;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    margin-top: 1em;
    padding: .5em;
    transition: 0.2s;
}

.backend-botao {
    border: 1px solid var(--cor-secundaria);
}

@keyframes surgir {
    0% { transform: translateX(-100%);}
    50% { transform: translateX(+0.1%);}
}

@media screen and (min-width: 768px) {
    .certificados {
        height: auto;
        padding: 1em;
    }
    .certificados__titulo {
        margin: 0 5em 1em 5em;
    }

    .certificados__campo {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
    }

    .frontend:hover{
        filter: drop-shadow(0 0 30px var(--sombra));
    }
    
    .backend:hover{
        filter: drop-shadow(0 0 30px var(--cor-secundaria));
    }

    .frontend-botao:hover, .backend-botao:hover {
        background: var(--cor-principal);
        box-shadow: 0 0 100px var(--cor-principal);
        color: var(--branco);
        text-decoration: none;
    }
    
    .backend-botao:hover {
        background: var(--cor-secundaria);
        box-shadow: 0 0 100px var(--cor-secundaria);
    }
}