a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--branco);
}


.contatos {
    background: linear-gradient(var(--cor-fundo), var(--cor-principal))
}

.contatos__titulo {
    border-bottom: 2px solid var(--cor-principal);
    color: var(--branco);
    font-size: 2em;
    font-weight: 700;
    margin: 0 2em 2em 2em;
    text-align: center;
    text-transform: uppercase;
}

.contatos__contatar, .contatos__contatar_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contatos__form_titulo {
    color: var(--branco);
    margin: 0 0 1em 0;
}

.contatos__form_inputNome, .contatos__form_inputEmail, .contatos__form_inputMensagem, .contatos__form_inputMensagem {
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-principal);
    height: 2em;
    margin-top: 1em;
    text-align: center;
    width: 20em;
}

.contatos__form_inputMensagem {
    height: 10em;
}

.contatos__form_botao {
    background: var(--cor-principal);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-weight: 700;
    margin: 1em 0 0 0;
    padding: 0.3em 0;
    text-transform: uppercase;
    width: 20em;
}

.contatos__links {
    font-weight: 200;
    text-align: center;
}

.contatos__links_packs {
    margin-top: 1em;
}

.contatos__links_icones {
    border: 1px solid var(--branco);
    border-radius: 30%;
    padding: .3em;
}

.contatos__links_subtitulo {
    color: var(--branco);
    margin: 1em 0 0 0;
}

.copy {
    color: var(--branco);
    font-size: 0.8em;
    padding: 5em 0 1em 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contatos__titulo {
        margin: 0 6em 2em 6em;
    }
    .contatos__form_inputNome, .contatos__form_inputEmail, .contatos__form_inputMensagem {
        width: 40em;
    }
    .contatos__form_botao {
        width: 40em;
    }
    .contatos__links {
        display: flex;
        flex-wrap: wrap;
        gap: 3em 10em;
        justify-content: flex-start;
        width: 535px;
    }
    .contatos__links_packs:nth-child(3) {
        margin-left: 3.5em;
    }
    .contatos__links_packs:nth-child(4) {
        margin-left: 2.5em;
    }

    .copy {
        color: var(--branco);
        font-size: 0.8em;
        padding: 5em 0 7em 0;
        text-align: center;
    }
}

@media screen and (min-width: 1080px) {
    .contatos__titulo {
        margin: 0 6em 2em 6em;
    }

    .contatos__contatar{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        margin: 0 1em 0 1em;
    }
    .contatos__links {
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        justify-content: flex-start;
        width: 535px;
    }
    .contatos__links_packs:nth-child(3) {
        margin-left: 3.5em;
    }
    .contatos__links_packs:nth-child(4) {
        margin-left: 2.5em;
    }
}