strong {
    color: var(--cor-principal);
}

.home {
    background: linear-gradient(var(--cor-principal-escura), var(--cor-fundo));
}

.home__logo {
    display: none;
}

.home__textos {
    color: var(--branco);
    padding: 1em 0.5em 0.5em 1em;
}

.home__textos-titulo {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
}

.home__textos-texto {
    font-size: 1.5em;
    font-weight: 300;
    margin: 1em 1em 1em 0;
}

.home__textos-botao{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 16px;
    color: var(--branco);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: var(--fonte);
    padding: 0.5em 1em;
    margin: 0.5em 0 0 0 ;
    transition: 0.2s;
    width: auto;
    border: none;
}


@keyframes quicar {
    0% { transform: translateY(0);}
    50% { transform: translateY(-26px);}
    100% { transform: translateY(0);}
}

@media screen and (min-width: 768px){
    .home {
        background-image: url("../assets/img/bg-home.svg");
        background-repeat: no-repeat;
        display: flex;
    }

    .home__logo {
        animation: quicar infinite 5s;
        display: block;
        margin: 0 1em 0 0;
    }

    .home__textos {
        color: var(--branco);
        padding: 2em 1em 0 2em;
    }

    .home__textos-botao:hover{
        background: var(--cor-principal);
        filter: drop-shadow(0 0 1em var(--cor-principal));
        letter-spacing: 0.01em;
    }

      .home__textos-botao svg {
        margin-right: 3px;
        transform: rotate(30deg);
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      }
      
      .home__textos-botao span {
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      }
      
      .home__textos-botao:hover svg {
        transform: rotate(90deg);
      }
}

@media screen and (min-width: 1080px){
    .home {
        height: 40em;
        width: 100%;
    }

    .home__logo {
        height: 30em;
        margin: 0 3em 0 1em;
        width: 30em;
    }

    .home__textos {
        color: var(--branco);
        padding: 2.5em 1em 0 2.5em;
    }

    .home__textos-titulo {
        font-size: 4em;
    }
    
    .home__textos-texto {
        font-size: 2em;
    }

    .home__textos-botao{
        font-size: 1.5rem;
    }
}


  
