strong {
    color: var(--cor-principal);
}

.home {
    background: linear-gradient(var(--cor-principal-escura), var(--cor-fundo));
}

.home__logo {
    display: none;
}

.home__textos {
    color: var(--branco);
    padding: 1em 0.5em 0.5em 1em;
}

.home__textos-titulo {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
}

.home__textos-texto {
    font-size: 1.5em;
    font-weight: 300;
    margin: 1em 1em 1em 0;
}

.home__textos-botao{
    background: transparent;
    border: 1.8px var(--cor-principal) solid;
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: var(--fonte);
    padding: 0.25em 0.25em;
    margin: 0.5em 0 0 0 ;
    transition: 0.2s;
}

.home__textos-botao:hover {
    background: var(--cor-principal); 
    box-shadow: 0 0 90px var(--cor-principal); 
}

@keyframes quicar {
    0% { transform: translateY(0);}
    50% { transform: translateY(-26px);}
    100% { transform: translateY(0);}
}

@media screen and (min-width: 768px){
    .home {
        background-image: url("../assets/img/bg-home.svg");
        background-repeat: no-repeat;
        display: flex;
    }

    .home__logo {
        display: block;
        margin: 0 1em 0 0;
        animation: quicar infinite 5s;
    }

    .home__textos {
        color: var(--branco);
        padding: 2em 1em 0 2em;
    }
}

@media screen and (min-width: 1080px){
    .home {
        width: 100%;
        height: 30em;
    }

    .home__logo {
        height: 30em;
        width: 30em;
        margin: 5em 3em 0 1em;
    }

    .home__textos {
        color: var(--branco);
        padding: 2.5em 1em 0 2.5em;
    }

    .home__textos-titulo {
        font-size: 4em;
    }
    
    .home__textos-texto {
        font-size: 2em;
    }

    .home__textos-botao{
        font-size: 1.5rem;
    }
}