.topo {
    display: none;
}

@media screen and (min-width: 768px) {
    .topo {
        display: flex;
        position: fixed;
        bottom: 1em;
        margin-left: 25vw;
        
    }
    
    .nav {
        backdrop-filter: blur(5px);
        display: flex;
        gap: 4em;
        justify-content: center;
        padding: 1em;
        border-radius: 20em;
    }
    
    .nav_icone {
        height: 1.5em;
        width: 1.5em;
        transition: 0.2s;
        
    }
    
    .nav_icone:hover{
        background: var(--cor-principal);
        border-radius: 50%;
        padding: 0.2em;
        filter: drop-shadow(0 0 5px var(--cor-principal));
    }  
}

@media screen and (min-width: 1024px) {
    .topo {
        margin: 0 35vw;
    }
}