.projetos {
    background: linear-gradient(var(--cor-fundo), var(--cor-fundo-escuro));
    padding: 1em;
    padding-bottom: 5rem;
}

.projetos__titulo {
    border-bottom: 2px solid var(--cor-principal);
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5em 1.7em 0 1.7em;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.cards {
    align-items: center;
    animation: surgir 2s normal;
    display: flex;
    flex-direction: column;
}

.projetos__card {
    background: var(--cor-fundo-escuro);
    border: .5px solid var(--cor-principal);
    border-radius: 20px;
    margin: 2rem 0 0 0;
    text-align: center;
    transition: 0.2s;
}


.projetos__card-img {
    border-radius: 1.3em;
    height: 250px;
    transition: 0.2s;
    width: 400px;
}


.projetos__card_texto {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.projetos__card-titulo {
    color: var(--cor-principal);
    margin: 1em 0 0.5em 0;
}

.projetos__card-botao {
    background: transparent;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    font-family: var(--fonte);
    margin-bottom: 1rem;
    transition: 0.2s;
}

@media screen and (min-width: 768px) {
    .projetos__titulo {
        margin: 0.5em 5em 0 5em;
    }

    .projetos__card:hover {
        filter: drop-shadow(0 0 10px var(--sombra));
    }

    .cards {
        animation: surgir 2s normal;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3em;
        justify-content: center;
    }
    .projetos__card-botao:hover {
        background: var(--cor-principal);
        box-shadow: 0 0 100px var(--cor-principal);
        color: var(--branco);
    }
}